html
  head
    meta(charset="UTF-8")
    meta(
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    )
    title page
    link(
      rel="stylesheet"
      href="/style.css"
    )
    link(
      rel="Shortcut Icon"
      href="/static/favicon.ico"
      type="image/x-icon"
    )
    script(
      src="/main.boundle.js"
      defer
    )

  body
    header.panel
      .container
        a(href="/").panel__logo MyLogo
        if user
          .panel__profile
            a(href="/profile").panel__user #{user.nickname}
            a(href="/profile").panel__avatar-wrapper
              img(src=user.avatar alt="User").panel__avatar
        else
          a(href="/login/google").panel__login

    block main

    block modals

    footer.panel.panel_bottom
      .container
        a(href="/").panel__logo MyLogo
        nav
          a(href="/about").panel__link About
          a(href="/help").panel__link Help
