html
  head
    meta(charset="UTF-8")
    meta(
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    )
    title page
    link(
      rel="stylesheet"
      href="/style.css"
    )
    script(
      src="/main.boundle.js"
      defer
    )

  body
    header.panel
      .container
        a(href="/").panel__logo MyLogo
        //- .panel__profile
        //-   a(href="/").panel__user Oleksandr Khmil
          //- a(href="/").panel__avatar-wrapper
          //-   img(src="https://lh4.googleusercontent.com/-vHujaxuESU8/AAAAAAAAAAI/AAAAAAAAAAA/AMZuucnMUN0zkj0O7_CY0nbZ75VS2cU7zA/photo.jpg" alt="User").panel__avatar
        a(href="/login/google").panel__login

    block main

    footer.panel.panel_bottom
      .container
        a(href="/").panel__logo MyLogo
        nav
          a(href="/about").panel__link About
          a(href="/help").panel__link Help
