mixin card(article)
  article.card.js-card
    .card__content
      a(href=`/${article.id}`).card__title-link
        h4.card__title.js-card-title= article.title
      .card__info
      h5.card__description= article.subtitle
    a(href=`/${article.id}`)
      img(
        src=article.image
        alt="Article"
      ).card__image
